@model IEnumerable<Book>

@foreach(var item in Model){
    <div class="swiper-slide" style="display: inline-block; width: 25%; margin: 10px; float: left;">
        <div class="d-flex blue books-sec-cont" >
            <a asp-action="detail" asp-controller="book" asp-route-id="@item.Id">
                <img class="books-small"
                 src="~/assets/img/@item.Image"
                 alt="Atomic one`s book cover" />
            </a>
            <div class="books-small-text">
                <h3>@item.Name</h3>
                <p style="height:72px;overflow:hidden;">
                    @if (item.Description.Length <= 80)
                    {
                        @item.Description
                    }
                    else
                    {
                        @item.Description.Substring(0, 80)
                    }
                </p>
                <div class="d-flex blue books-pages-cont">
                    <div class="bulleted">
                        <h4>Price:</h4>
                        <p class="gray">@item.Price $</p>
                    </div>
                    <div class="bulleted">
                        <h4>Language:</h4>
                        <p class="gray">@foreach(var lang in item.BookLanguages.Where(x=>x.BookId == item.Id))
                            {

                                @String.Concat(lang.Language.Name," ")
                                ;
                            }
                        </p>
                    </div>
                </div>
                    <a asp-action="addbasket" asp-controller="book" asp-route-id="@item.Id" class="blue baskets add-basket-product">Order Today</a>
            </div>
        </div>
    </div>
}


<script>

    const products = document.querySelectorAll(".add-basket-product");
    let listProducts = document.querySelector(".listProducts");
    let totalPriceElement = document.getElementById("totalPrice");
    let totalCountElement = document.getElementById("totalCount");

    products.forEach(prod => {
        prod.addEventListener("click", (e) => {
            e.preventDefault();
            let href = prod.getAttribute("href");
            let totalPrice = 0;
            let totalCount = 0;
            fetch(href)
                .then(x => x.json())
                .then(x => {
                    if (x.status == 200) {
                        fetch("/book/getallbaskets")
                            .then(res => res.json())
                            .then(b => {
                                    listProducts.innerHTML = ""

                                b.forEach(basket => {
                                    totalCount++;
                                    totalPrice += basket.price * basket.count;
                                    let basketView = `
                  <div class="d-flex align-center space-between cart-box">
                    <div class="cart-box-image">
                          <img  src="/assets/img/${basket.image}" alt="" />
                    </div>

                    <div class="cart-box-info">
                      <h5>${basket.name}</h5>

                      <p class="d-flex">
                        <span class="cart-book-quantity">${basket.count}</span>
                        <span>x</span>
                        <span class="cart-book-price">${basket.price}$</span>
                      </p>
                    </div>
                          <div class="cart-remove-btn removeicon">
                                            <a href="/book/RemoveBasket/${basket.id}" class="btn-product-delete" style="color:red" data-id="">✖</a>
                                 </div>
                  </div>
                  `;
                                    listProducts.innerHTML += basketView;
                                })
                                totalCountElement.innerHTML = totalCount;

                                totalPriceElement.innerHTML = `${totalPrice.toFixed(2)} $`;
                                listProducts.innerHTML += ` <div class="d-flex align-center space-between cart-total-price">
                            <div class="totalPrice">
                                <div class="totalText">
                                        <span id="totalCount">TOTAL :${totalCount}</span>
                                </div>
                                <div class="priceText">
                                    <span>$</span>
                                        <span id="totalPrice">${totalPrice}</span>
                                </div>
                            </div>
                          
              </div>`
                                const Toast = Swal.mixin({
                                    toast: true,
                                    position: 'top-start',
                                    showConfirmButton: false,
                                    timer: 3000,
                                    timerProgressBar: true,
                                    didOpen: (toast) => {
                                        toast.addEventListener('mouseenter', Swal.stopTimer)
                                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                                    }
                                })

                                Toast.fire({
                                    icon: 'success',
                                    title: 'Item added to basket successfully'
                                })
                            })
                    }
                })


        })
    })
    //document.querySelectorAll(".btn-product-delete").forEach(x=>{
    //    x.addEventListener("click",(e)=>{
    //        e.preventDefault();
    //        fetch(x.getAttribute("href");
    //})
    //}
</script>
