@model BlogVM

<link rel="stylesheet" href="~/Css/singleblog.css" />
<link rel="stylesheet" href="~/Css/home.css" />


<!-- Single blog txt section start -->
<div class="bg-blue">
    <div class="nav container d-flex">
        <h1 class="unique-text">Single Blog</h1>
    </div>
</div>
<!-- Single blog txt section end -->
<!-- single blog start -->
<div class="container single-blog-container d-flex f-dir-column">
    <div class="blog-image" style="max-width:100%">
        <img src="~/assets/img/@Model.Blog.Image" style="width:100%; height:500px" alt="girl reading a book" />
    </div>
    <div>
        <h5 class="blue">@Model.Blog.CreatedDate.Month/ @Model.Blog.CreatedDate.Day, @Model.Blog.CreatedDate.Year  / @Model.Blog.Tags.Name</h5>
        <p class="gray">
            @Model.Blog.Description
        </p>
    </div>
    <div>
        <h3 class="blue">The perfect book for all</h3>
        <p class="gray">
            It is a long established fact that a reader will be distracted by the
            readable content of a page when looking at its layout. The point of
            using Lorem Ipsum is that it has less normal distribution of letters,
            as opposed.
        </p>
    </div>
    <div class="blue bulleted-list">
        <p class="bulleted">
            It has roots in a piece of classical Latin literature from 45 BC,
        </p>
        <p class="bulleted">To generate Lorem Ipsum which looks reasonable</p>
        <p class="bulleted">
            The first line of Lorem Ipsum, "Lorem ipsum” dolor sit amet
        </p>
    </div>
    <div class="bg-blue quote">
        <img class="quote-1" src="~/assets/img/quote.png" alt="quote vector" />
        <img class="quote-2" src="~/assets/img/quote.png" alt="quote vector" />
        <p>
            “Crowdsource term sheet freemium beta stealth responsive web design
            niche market rock star channels.”
        </p>
    </div>
    <div>
        <h3 class="blue">The perfect book for all</h3>
        <p class="gray">
            It is a long established fact that a reader will be distracted by the
            readable content of a page when looking at its layout. The point of
            using Lorem Ipsum is that it has less normal distribution of letters,
            as opposed.
        </p>
    </div>
    <div class="container comments-wrapper">
        <div class="container comments-wrapper">
            <h3 class="blue">Comments</h3>

            @foreach (var comment in Model.Blog.Comments)
            {
                <div class="single-commnet d-flex align-center">
                    <div class="user-image-box">
                        <img src="https://static.vecteezy.com/system/resources/thumbnails/009/734/564/small/default-avatar-profile-icon-of-social-media-user-vector.jpg"
                         alt="" />
                    </div>

                    <div class="commnet-content">
                        <h5>@comment.Subject</h5>

                        <p>
                            @comment.Body
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>



    <div class="form-container container" style="width:100%">
        <h3>Leave comment</h3>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, mollitia.
        </p>

        <form class="comment-form" method="post" asp-action="postComment" asp-controller="Blog">
            <label for="name">
                <input type="text" hidden value="@Model.Blog.Id" name="blogId" />
            </label>

            <label for="subject">
                <p>Subject</p>

                <input type="text" name="subject" id="subject" />
            </label>

            <p>Body</p>

            <textarea style="resize:none" name="Body" cols="20" rows="5"></textarea>

            <button type="submit">Send message</button>
        </form>
    </div>
</div>
<!-- single blog end -->
