@using Pages.Core.Entities;
    <link rel="stylesheet" href="~/Css/blog.css">
    <link rel="stylesheet" href="~/Css/home.css">
@model IEnumerable<Blog>
@{
    int i = 0;
}

<!-- Articles txt section start -->
<div class="bg-blue">
    <div class="nav container d-flex">
        <h1 class="unique-text">Blogs</h1>
        <p class="gray w-400">
            There are many variations of passages of Lorem Ipsum available, have
            suffered alteration in some form.
        </p>
    </div>
</div>
<!-- Articles txt section end -->
<!-- aricles start -->
<div class="bg-light-blue articles blue">
    <div class="container d-flex align-center articles-container">
        @*<div class="article-img-container d-flex">*@
        <div class="article-img-container d-flex">
                @await Html.PartialAsync("_Blog",Model)
                <div class="col-md-12" style="width:100%">
                        <ul class="pagination" style="padding-left:0;width:100%;display:flex;justify-content:center;gap:15px">
                    <li><a class="page-link" asp-controller="blog" asp-action="index" asp-route-page="1" style="display:inline-flex;align-items:center;justify-content:center;height:25px;width:25px;border:1px solid #1b3764;border-radius:3px;color:#1b3764;">«</a></li>
                        @for (int j = 1; j <= ViewBag.TotalPage; j++)
                        {
                            @if (j == ViewBag.CurrentPage)
                            {
                            <li class="page-item active"><a style="display:inline-flex;align-items:center;justify-content:center;height:25px;width:25px;border:1px solid #1b3764;border-radius:3px;color:#1b3764;" class=" page-link" asp-controller="blog" asp-action="index" asp-route-page="@j">@j</a></li>
                            }
                            else
                            {
                            <li class="page-item"><a style="display:inline-flex;align-items:center;justify-content:center;height:25px;width:25px;border:1px solid #1b3764;border-radius:3px;color:#1b3764;" class=" page-link" asp-controller="blog" asp-action="index" asp-route-page="@j">@j</a></li>
                            }
                        }
                    <li><a class="page-link" asp-controller="blog" asp-action="index" asp-route-page="@ViewBag.TotalPage" style="display:inline-flex;align-items:center;justify-content:center;height:25px;width:25px; border:1px solid #1b3764;border-radius:3px;color:#1b3764">»</a></li>
                    </ul>
                </div>
            </div>
        @*</div>*@
    </div>
</div>
<!-- articles end -->