@using Pages.Core.Entities;
<link rel="stylesheet" href="~/Css/store.css">
<link rel="stylesheet" href="~/Css/home.css">
@model IEnumerable<Book>
@{
    int i = 0;
}

 <!-- my store section start -->
<div class="bg-blue">
    <div class="nav container d-flex">
        <h1 class="unique-text">My Books</h1>
        <p class="gray w-400">
            There are many variations of passages of Lorem Ipsum available, have
            suffered alteration in some form.
        </p>
    </div>
</div>
<!-- my store section end -->
<!-- search section start -->
<div class="search-section">
    <div class="container d-flex">
        <div class="search-container" style="border:6px solid #ffca42">
            <form id="search" class="search-form" action="">
                <input class="search-bar searchInput " type="search" placeholder="Search.." name="search">
                <button class="btn btn-bg-blue SearchButton" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<!-- search section end -->
<!-- author`s books start -->
<div class="books-section">
    <div class="container d-flex all-books book_container">
        @await Html.PartialAsync("_Book", Model)
        <div class="col-md-12">
            <ul class="pagination">
                <li><a class=" page-link" asp-controller="book" asp-action="index" asp-route-page="1">«</a></li>
                @for (int j = 1; j <= ViewBag.TotalPage; j++)
                {
                    @if (j == ViewBag.CurrentPage)
                    {
                        <li class="page-item active"><a class=" page-link" asp-controller="book" asp-action="index" asp-route-page="@j">@j</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class=" page-link" asp-controller="book" asp-action="index" asp-route-page="@j">@j</a></li>
                    }
                }
                <li><a class="page-link" asp-controller="book" asp-action="index" asp-route-page="@ViewBag.TotalPage">»</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- author`s books end -->
<script>
    const submit = document.querySelector(".SearchButton");
    const searchInput = document.querySelector(".searchInput");
    const container = document.querySelector(".book_container");


    searchInput.addEventListener("input", (e) => {
        e.preventDefault();

        if (searchInput.value == "") {
            location.reload();
        }
        let href = `/book/search?search=${searchInput.value}`;
        console.log(href)
        fetch(href)
            .then((response) => response.json())
            .then((data) => {
                container.innerHTML = "";
                data.forEach((item) => {
                    let view = `
                    <div class="swiper-slide">
                        <div class="d-flex blue books-sec-cont">
                            <a href="/book/detail/${item.id}" class="blue">

                                <img class="books-small" src="assets/img/${item.image}" alt="Atomic ones book cover" />
                            </a>
                            <div class="books-small-text">
                                <h3>${item.name}</h3>
                                <p style="height: 72px; overflow: hidden;">
                                    ${item.description}
                                </p>
                                <div class="d-flex blue books-pages-cont">
                                    <div class="bulleted">
                                        <h4>Pages: </h4>
                                        <p class="gray">${item.paperCount} pages</p>
                                    </div>
                                         <div class="bulleted">
                                            <h4>Price: </h4>
                                            <p class="gray">${item.price}USD </p>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn-no-bg">
                                    <a href="/book/detail/${item.id}" class="blue">Order Today</a>
                                </button>
                            </div>
                        </div>
                    </div>
                `;

                    container.innerHTML += view;
                });
            });

    });
</script>
